<h1>Dashboard</h1>

<ul>
  <li>Active Members: <%= @active_member_count %></li>
  <li>Prospective Members: <%= @prospective_member_count %></li>
  <li>Recent Guests: <%= @guest_member_count %></li>
  <li>Community Group Members: <%= @group_member_count %></li>
  <li>Ministry Team Members: <%= @team_member_count %></li>
  <li>Members without a group: <%= @active_members_without_group %></li>
  <li>Members without a team: <%= @active_members_without_team %></li>
</ul>