<div id="<%= dom_id member %>" class="w-full sm:w-auto my-5">
  <div class="card flex flex-col h-full">
    <div class="card-title"><%= member.full_name %></div>

  <div class="flow-y flex-1 min-h-0">
    <% if defined?(show_full_details) && show_full_details %>
      <div>
        <strong class="block font-medium mb-1">Address</strong>
        <div class="text-sm text-gray-700"><%= member.full_address %></div>
      </div>

      <div>
        <strong class="block font-medium mb-1">Phone</strong>
        <div class="text-sm text-gray-700"><%= member.phone %></div>
      </div>

      <div>
        <strong class="block font-medium mb-1">Email</strong>
        <div class="text-sm text-gray-700"><%= member.email %></div>
      </div>
    <% end %>

    <div>
      <strong class="block font-medium mb-1">Groups</strong>
      <div class="text-sm text-gray-700"><%= !member.groups.empty? ? member.groups.map(&:name).join(", ") : 'No Groups' %></div>
    </div>

    <div>
      <strong class="block font-medium mb-1">Teams</strong>
      <div class="text-sm text-gray-700"><%= !member.teams.empty? ? member.teams.map(&:name).join(", ") : 'No Teams' %></div>
      </div>
    </div>
    <% if local_assigns[:show_actions] %>
      <div class="mt-4 flex flex-wrap items-center space-x-2">
        <%= link_to "Show", member, class: "text-sm rounded-md px-3 py-1 bg-gray-100 hover:bg-gray-50 font-medium" %>
        <%= link_to "Edit", edit_member_path(member), class: "text-sm rounded-md px-3 py-1 bg-gray-100 hover:bg-gray-50 font-medium" %>
        <%= button_to "Destroy", member, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "text-sm rounded-md px-3 py-1 text-white bg-red-600 hover:bg-red-500 font-medium" %>
      </div>
    <% end %>
  </div>
</div>
