<% content_for :title, "Members" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Members</h1>
    <%= link_to "New member", new_member_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <h2 class="font-bold text-2xl">Active Members</h2>
  
  <table class="table-fixed w-full mt-4 border-separate border border-gray-400">
    <thead>
      <tr>
        <th class="border border-gray-300">Name</th>
        <th class="border border-gray-300">Community Group</th>
        <th class="border border-gray-300">Ministry Team</th>
      </tr>
    </thead>
    <tbody class="border border-gray-300">
      <% @active_members.each do |member| %>
        <tr class="hover:bg-gray-100">
          <td class="border border-gray-300"><%= link_to member.full_name, member_path(member) %></td> 
          <td class="border border-gray-300"><%= member.group_name %></td>
          <td class="border border-gray-300"><%= member.teams_list %></td>
        </tr>
      <% end %>
  </table>

  <h2 class="font-bold text-2xl">Prospective Members</h2>
  
  <table class="table-fixed w-full mt-4 border-separate border border-gray-400">
    <thead>
      <tr>
        <th class="border border-gray-300">Name</th>
        <th class="border border-gray-300">Community Group</th>
        <th class="border border-gray-300">Ministry Team</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @prospective_members.each do |member| %>
        <tr class="hover:bg-gray-100 ">
          <td class="border border-gray-300"><%= link_to member.full_name, member_path(member) %></td> 
          <td class="border border-gray-300"><%= member.group_name %></td>
          <td class="border border-gray-300"><%= member.teams_list %></td>
        </tr>
      <% end %>
  </table>

  <h2 class="font-bold text-2xl">Guests</h2>
  
  <table class="table-fixed w-full mt-4 border-separate border border-gray-400">
    <thead>
      <tr>
        <th class="border border-gray-300">Name</th>
        <th class="border border-gray-300">Community Group</th>
        <th class="border border-gray-300">Ministry Team</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @guest_members.each do |member| %>
        <tr class="hover:bg-gray-100 ">
          <td class="border border-gray-300"><%= link_to member.full_name, member_path(member) %></td> 
          <td class="border border-gray-300"><%= member.group_name %></td>
          <td class="border border-gray-300"><%= member.teams_list %></td>
        </tr>
      <% end %>
  </table>

  <h2 class="font-bold text-2xl">Former/Inactive Members</h2>
  
  <table class="table-fixed w-full mt-4 border-separate border border-gray-400">
    <thead>
      <tr>
        <th class="border border-gray-300">Name</th>
        <th class="border border-gray-300">Community Group</th>
        <th class="border border-gray-300">Ministry Team</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% @inactive_members.each do |member| %>
        <tr class="hover:bg-gray-100 ">
          <td class="border border-gray-300"><%= link_to member.full_name, member_path(member) %></td> 
          <td class="border border-gray-300"><%= member.group_name %></td>
          <td class="border border-gray-300"><%= member.teams_list %></td>
        </tr>
      <% end %>
  </table>

